$color-black: #000000;
$color-white: #ffffff;
$darkblue: darkblue;
.currency-exchanger-container{
    background-color: #ffffff;
    border-radius: 25px;
    min-height: 100px;
    padding: 10px;
    border: 1px solid $darkblue;
    margin: 25px;
    .currency-exchanger{
        display: flex;
        flex-direction: column;
        padding: 25px;
        label{
            font-weight: 600;
            line-height: 24px;
        }
        .input-containers{
            display: flex;
            flex-direction: column;
            margin-right: 10px;
        }
        .disabled{
            background-color: $color-white !important;
            color:$darkblue !important;
        }
        input{
            font-size: 16px;
            padding: 10px;
            font-weight: 300;
            border: 1px solid $color-black;
        }
        select{
            font-size: 16px;
            padding: 10px;
            font-weight: 300;
            border: 1px solid $color-black;
        }
        .convert-btn{
            color: $color-white;
            background-color: $darkblue;
            border-radius: 4px;
            cursor: pointer;
            height: 40px;
            min-width: 150px;
            border: 1px solid $darkblue;
            margin-top: 10px;
        }
        .valueOfUnit{
            color: rgb(92, 102, 123);
        }
        .conversionUnits{
            color: rgb(46, 60, 87);
            text-transform: bold;
            font-weight: 600;
            font-size: 24px;
            margin-top: 10px;
            padding: 25px 0;
        }
    }
}
.units-selected{
    margin-left: 20px;
}
.charts-container{
    display: flex;
    max-height: 100px;
}


@media only screen and (min-width: 600px) {
    .charts-container{
        display: flex;
        max-height: 450px;
        transform: scale(0.8);
        justify-content: center;
    }
}
@media only screen and (max-width: 600px) {
    .charts-container{
        display: flex;
        min-height: 100px;
        transform: scale(0.4);
        justify-content: center;
    }
}

@media only screen and (min-width: 768px) {
    .currency-exchanger-panel{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .swapper{
        margin: 10px;
    }
    input{
        min-width: 200px;
        height: 25px;
    }
    select{
        min-width: 222px;
        height: 50px;
    }
    .convert-btn{
        color: $color-white;
        background-color: $color-black;
        border-radius: 4px;
        cursor: pointer;
        height: 40px;
        min-width: 150px;
        border: 1px solid $color-black;
        margin-top: 10px;
    }
    .button-container{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 25px 0px;
    }
    .btn-align{
        margin-right: 10px;
    }
}
@media only screen and (max-width: 768px) {
    .currency-exchanger-panel{
        display: flex;
        flex-direction: column;
    }
    .swapper{
        transform:rotate(90deg);
        margin: 20px auto 0px;
    }
    .input-containers{
        margin-top: 10px;
        margin-right: 0px !important;
    }
    .button-container{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .btn-align{
        margin-right: 0px;
    }
}