<div class="cards-container">
    <div *ngFor="let key of currencyData | keyvalue" class="cards-container-row">
        <div class="card">
            <div class="container">
                <h4><b>EUR to {{key}}</b></h4> 
                <div class="conversion-table">
                    <p>1 EURO = {{currencyData[key].toFixed(3)}}  {{key}}</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <h4><b>EUR to {{key}}</b></h4> 
                <div class="conversion-table">
                    <p>1 EURO = {{currencyData[key].toFixed(3)}}  {{key}}</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <h4><b>EUR to {{key}}</b></h4> 
                <div class="conversion-table">
                    <p>1 EURO = {{currencyData[key].toFixed(3)}} {{key}}</p>
                </div>
            </div>
        </div>
    </div>
</div>