<div class="cards-container">
    <div *ngFor="let item of currencyData" class="cards-container-row">
        <div class="card">
            <div class="container">
                <h4><b>{{item.baseCurrency}} to {{item.toCurrency}} </b></h4> 
                <div class="conversion-table">
                    <div class="rates">1 {{item.baseCurrency}} = {{item.singleUnit}} {{item.toCurrency}} </div>
                    <div class="rates">{{item.amount}}  {{item.baseCurrency}} = {{item.conversionAmount}} {{item.toCurrency}} </div>
                </div>
            </div>
        </div>
    </div>
</div>